---
import AnimatedOnScroll from "../observer/AnimatedOnScroll.astro";
import WelcomeText from "./welcome-text/WelcomeText.astro";
---

<section class="main__welcome-section bg-blue text-white">
  <div
    class="main__welcome-section-container padded-section flex flex-wrap md:flex-nowrap items-center justify-between gap-20"
  >
    <WelcomeText className="flex-0 basis-full mb-8 md:mb-0 md:basis-1/2" />
    <AnimatedOnScroll
      class="main__welcome-section-img-wrap flex-0 basis-full md:basis-1/2"
    >
      <img class="w-full max-w-full" src="/hero-img.svg" alt="hero image" />
    </AnimatedOnScroll>
  </div>
</section>

<style lang="scss">
  .main__welcome-section {
    padding: 115px 0 130px 0;
  }

  .main__welcome-section-img-wrap {
    img {
      filter: blur(4px);
      opacity: 0;
      transform: translateX(100vw);
      transition-duration: 1s;
    }
    &.aos {
      img {
        filter: blur(0);
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
</style>
