---
import WelcomeText from "./welcome-text/WelcomeText.astro";
---

<section class="main__welcome-section bg-blue text-white">
  <div
    class="main__welcome-section-container padded-section flex justify-between"
  >
    <WelcomeText />
  </div>
</section>

<style lang="scss">
  .main__welcome-section {
    padding: 115px 0 130px 0;
  }
</style>
