---
import AboutMe from "../about-me/AboutMe.astro";
import Projects from "../projects/Projects.astro";
import WelcomeSection from "../welcome/WelcomeSection.astro";
---

<main class="main">
  <WelcomeSection />
  <AboutMe />
  <Projects />
</main>
