@import "../../../mixins/media-queries.scss";

.main__welcome-section-text {
  font-family: var(--cursive);
  line-height: 95px;
  font-size: 45px;

  @include media-min(sm) {
    font-size: 75px;
  }

  @include media-between(md, lg) {
    font-size: 45px;
  }

  @include media-min(lg) {
    font-size: 55px;
  }

  @include media-min(xl) {
    font-size: 75px;
  }
}

.animated {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  max-width: fit-content;
  border-right: 0.15em solid var(--purple);

  &:not(.invisible) {
    &.animated-1 {
      animation: typing 1s steps(100, end) forwards,
        blink-caret 0.25s step-end infinite;
    }

    &.animated-2,
    &.animated-3 {
      animation: typing 1s steps(40, end) forwards,
        blink-caret 0.75s step-end infinite;
    }
  }
}

.main__welcome-section-below {
  &-anim-container {
    filter: blur(4px);
    opacity: 0;
    transform: translateX(-100vw);
    transition-duration: 1s;
  }
  &.aos {
    .main__welcome-section-below-anim-container {
      filter: blur(0);
      opacity: 1;
      transform: translateX(0);
      transition-duration: 1s;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--purple);
  }
}
