---
---

<footer class="footer bg-blue py-8">
  <div
    class="padded-section flex flex-wrap items-center justify-center xs:justify-between"
  >
    <div class="footer__rights flex items-center gap-4 text-white text-lg">
      <img src="/portfolio/copyright.svg" alt="copy right" />
      2023 Vadym Hrashchenko
    </div>
    <div class="footer__socials flex mt-4 xs:mt-0 gap-4">
      <a target="_blank" href="https://github.com/grwadl"
        ><img src="/portfolio/socials/gh.svg" alt="github" /></a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/vadym-hrashchenko-15844925a/"
        ><img src="/portfolio/socials/li.svg" alt="linked in" /></a
      >
    </div>
  </div>
</footer>
