---
const navLinks: Array<string> = ["About", "Projects", "Contact"];
---

<nav
  class="header__navigation w-full text-3xl xs:text-xl padded-section text-white gap-x-11"
>
  {navLinks.map((link) => <a href="#">{link}</a>)}
</nav>

<style lang="scss">
  @import "../../../mixins/media-queries.scss";

  .header__navigation {
    position: absolute;
    background-color: var(--blue);
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 50%;
    transform: translateY(-100vh);
    transition: all 0.3s;

    @include media-min(xs) {
      padding-top: 0;
      transform: translateY(0);
      position: relative;
      flex-direction: row;
      justify-content: end;
    }
  }
</style>
