@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");
@import "../mixins/media-queries.scss";

:root {
  --cursive: "Pacifico", cursive;
  --poppins: "Poppins", sans-serif;

  --gray: #1e293b;
  --purple: #7477ff;
  --blue: #0f172a;
  --light-gray: #cccccc;
}

html,
body {
  overflow-x: hidden;
}

body.nav-opened {
  @include media-max(xs) {
    overflow-y: hidden;
  }
}

.padded-section {
  max-width: 1335px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @include media-min(md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-min(lg) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
